name: CI/CD Deploy
on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build_and_push:
    runs-on: [self-hosted, linux]
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}:latest
          IMAGE=$(echo "$IMAGE" | tr '[:upper:]' '[:lower:]')
          docker build -t $IMAGE ./MobyPark
          docker push $IMAGE

  deploy:
    needs: build_and_push
    runs-on: [self-hosted, linux]
    steps:
      - name: Deploy to VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          port: 22
          script: |
            cd ~/deploy
            export DISCORD_WEBHOOK_URL=${{ secrets.DISCORD_WEBHOOK_URL }}
            docker compose pull
            docker compose up -d
            docker image prune -f
