name: Test Mobypark
#d
on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build test image
        run: |
          docker build -t mobypark:tests ./MobyPark

      - name: Run tests
        run: |
          docker run --rm \
            -e BASE_URL=http://127.0.0.1:8000 \
            mobypark:tests \
            sh -c "
              python -u server.py &
              until curl -s http://127.0.0.1:8000 > /dev/null; do sleep 1; done
              pytest tests
            "


